html,
body {
  width: 100%;
  height: 100%;
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 100%;
  min-height: 100%;
}

/* попап */

.popup-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  top: 0;
  left: 0;
}

.popup {
  box-sizing: border-box;
  width: 390px;
  height: 590px;
  margin-top: 240px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: relative;
}

.popup-x {
  padding-left: 370px;
  position: absolute;
  top: -27px;
  fill: #ffffff;
}

.popup-x:hover {
  fill: #b59f5b;
}

.popup-title {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 8px;
}

.popup-form {
  width: 330px;
  padding-left: 30px;
}

.popup-select {
  margin-bottom: 30px;
}

.select-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  background-color: #f4f7f6;
  width: 330px;
  height: 48px;
  font-size: 13px;
  opacity: 0.54;
  padding-left: 20px;
  border: 0;
  margin-top: 9px;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 14px;
}

.radio {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
}

.radio-menu {
  margin-top: 10px;
}

.radio-group:last-child {
  margin-left: 15px;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio-group-text::before {
  display: inline-block;
  content: "";
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-image: url("../svg/form-empty-circle.svg");
  background-size: 20px;
  background-position: center center;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

.popup-submit {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.popup-text {
  box-sizing: border-box;
  width: 330px;
  height: 130px;
  background-color: #f4f7f6;
  border: 0;
  margin-top: 12px;
  margin-bottom: 27px;
  padding-left: 20px;
  padding-bottom: 90px;
  font-size: 13px;
  opacity: 0.54;
}

.popup-submit-button {
  background-color: #b59f5b;
  width: 330px;
  height: 48px;
  border: 0;
}

/* _____________________ */

/* горизонтальные линии */

.popup-title::after,
.trends-title::after,
.latest-posts-title::after,
.submit-title::after,
.tags-title::after,
.themes-title::after,
.shop-title::after {
  content: "";
  display: block;
  height: 3px;
  width: 65px;
  background-color: #e1d9bd;
  margin: 10px auto 25px;
}

.menu-bar {
  padding-top: 45px;
}

.menu-bar-img {
  width: 30px;
  height: 25px;
}

/* тренды */

.main-trends-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.trend_preview {
  display: block;
  width: 100%;
}

.trend_box {
  box-sizing: border-box;
  border: 3px solid #b59f5b;
  padding-left: 6%;
  padding-top: 6%;
  padding-right: 6%;
  padding-bottom: 6%;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 16px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.trend_previewbox::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

/* ---------------------- */

.header-top {
  display: flex;
  justify-content: space-around;
}

h1 {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.article-topic,
.trend-topic {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.article-topic-link,
.trend-topic-link {
  color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
  margin-top: 0;
}

.article-topic-link:hover,
.trend-topic-link:hover {
  text-decoration: underline;
}

.article-title,
.trend-title {
  margin-top: 10px;
  line-height: 24px;
}

.article-title-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0d0e;
  margin-top: 0;
}

.trend-title-link {
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  color: #ffffff;
}

.article-title-link:hover,
.trend-title-link:hover {
  color: #b59f5b;
}

.article-post-date {
  color: #888888;
  font-size: 12px;
  font-weight: normal;
}

.article-date-author {
  display: flex;
  margin-bottom: 30px;
}

.article-author {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  margin-left: 13px;
  margin-top: 0;
  margin-bottom: 0px;
}

.article-text {
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  color: #0f0d0e;
}

.latest-posts {
  display: flex;
  flex-wrap: wrap;
}

.latest-posts-title {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #0f0d0e;
  position: relative;
}

.last-post-article {
  display: flex;
  margin-bottom: 20px;
}

.last-post-article:last-child {
  margin-bottom: 0;
}

.last-post-picture {
  margin-top: 0;
  margin-left: 0;
  margin-right: 18px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.last-post-picture img {
  background-color: #f4f7f6;
}

.last-post-date {
  display: block;
  padding-top: 0;
  font-size: 12px;
  color: #7f8992;
}

.last-post-header h3 {
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.last-post-title-link {
  color: #000000;
  text-decoration: none;
}

.last-post-title-link:hover {
  color: #b59f5b;
}

.button-submit:hover,
.products-shop-card-button:hover,
.popup-submit-button:hover {
  background-color: #323232;
}

.submit-field:focus,
.popup-text:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.submit-button-text,
.popup-submit-button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

/* форма поиска */

.search {
  display: flex;
}

.search-bar {
  margin-top: 60px;
  margin-bottom: 60px;
}

.search-group {
  width: 100%;
}

.search-field {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  padding-left: 20px;
  margin: 0;
  font-size: 13px;
  color: #000000;
  opacity: 0.54;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
}

.search-field:focus,
.select-field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.button {
  background-image: url("../svg/search.svg");
  background-color: #b59f5b;
  background-size: 15px;
  background-position: left;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: 0;
}

.button:hover {
  background-color: #323232;
}

/* форма подписки */

.submit-bar {
  margin-bottom: 60px;
}

.submit-bar h2 {
  text-align: center;
}

.submit-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #0f0d0e;
  text-align: center;
}

.submit-field {
  box-sizing: border-box;
  padding-left: 20px;
  width: 100%;
  height: 48px;
  border: 0;
  background-color: #f4f7f6;
  color: #000000;
  opacity: 0.54;
}

.submit-form {
  width: 100%;
}

.submit-field-form {
  display: block;
  margin-bottom: 15px;
}

.button-submit {
  background-color: #b59f5b;
  height: 48px;
  border: 0;
  width: 100%;
}

/* _____________________ */

.tags-bar {
  margin-bottom: 60px;
}

.tags-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #0f0d0e;
  text-align: center;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0;
  list-style-type: none;
}

.tag-link-block {
  box-sizing: border-box;
  border: 3px solid #eeeeee;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.tag-link-block:hover {
  border: 3px solid #b59f5b;
}

.tags-links {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #0f0d0e;
  text-align: center;
  text-decoration: none;
}

.themes-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #0f0d0e;
  text-align: center;
}

.themes-list {
  padding-left: 0;
  list-style-type: none;
}

.themes-link-block {
  border-bottom: 1px solid #eeeeee;
  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
}

sup {
  font-size: 12px;
  font-weight: bold;
  color: #b59f5b;
  margin-top: 0;
  margin-left: 6px;
}

.themes-links {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.themes-links:hover {
  color: #b59f5b;
}

.trends-title,
.shop-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #0f0d0e;
  text-align: center;
  margin: 0;
}

 /* шоп наши изделия */

.products-shop {
  margin-top: 60px;
}

.products-shop-content {
  display: flex;
}

.products-shop-card-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.products-shop-card-media {
  padding: 20px 20px 0 20px;
}

.products-shop-card-image {
  display: block;
  width: 100%;
}

.products-shop-card-content {
  border: 3px solid #b59f5b;
  padding: 20px;
  position: relative;
  z-index: 1;
  margin-top: -20px;
}

.products-shop-card-button {
  background-color: #b59f5b;
  height: 47px;
  border: 0;
  width: 140px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.products-shop-card-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.products-shop-card-text {
  margin: 0;
  font-size: 15px;
  line-height: 22px;
}

.products-shop-card-link {
  color: #b59f5b;
  text-decoration: none;
}

.products-shop-card-link:hover {
  text-decoration: underline;
}

.products-shop-card-price {
  font-weight: bold;
  line-height: 1rem;
}

.products-shop-card-price-old {
  text-decoration: line-through;
  font-size: 0.875rem;
}

/* футер */

.footer {
  text-align: center;
  clear: both;
  margin-bottom: 40px;
}

.footer-socials {
  background-color: #f4f7f6;
  height: 83px;
  margin-bottom: 74px;
}

.socials-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}

.socials-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.socials-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.socials-link-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.socials-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.widget-box {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.widget-socials {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.socials-link {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 20px;
}

.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.widget-social-icon:nth-child(n + 2) {
  margin-left: 31px;
}

.copyright-link {
  font-size: 12px;
  color: #999999;
  text-decoration: none;
}

/* десктоп версия */

@media (min-width: 1200px) {
  header {
    background-image: url("../images/banner-bg.jpg");
    margin-bottom: 64px;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #666666;
    position: relative;
  }

  header::before {
    content: "";
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }

  .header-wrap {
    position: relative;
    z-index: 1;
  }

  .header-top {
    justify-content: space-evenly;
  }

  .header-logo {
    display: block;
    width: 180px;
    padding-top: 37px;
  }

  .menu-bar {
    display: none;
  }

  .menu {
    padding-top: 45px;
  }

  .menu-list {
    display: flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .menu-list-item:nth-child(n + 2) {
    margin-left: 37px;
  }

  .menu-link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }

  .menu-link:hover {
    text-decoration: underline;
  }

  h1 {
    font-size: 45px;
    line-height: 75px;
    width: 690px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
  }

  /* тренды десктоп */

  .main-trends {
    margin-bottom: 64px;
    padding: 0;
    justify-content: center;
  }

  .trend {
    width: 24.82%;
    position: relative;
    margin-right: 0.24%;
  }

  .trend:last-child {
    margin-right: 0;
  }

  .trend_box {
    max-height: 210px;
  }

  .trend_previewbox::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
  }

  .content {
    margin-top: 64px;
  }

  .content-wrapper {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
  }

  .side-bar {
    width: 272px;
  }

  .main {
    width: 780px;
  }

  .main-side-bar {
    display: flex;
  }

  .article {
    display: flex;
  }

  .article:not(:last-child) {
    margin-bottom: 57px;
  }

  .article-picture {
    display: block;
  }

  .article-media {
    margin-right: 30px;
  }

  /* шоп наши изделия десктоп */

  .products-shop-card {
    width: calc(100% / 3);
  }

  .products-shop-card:not(:last-child) {
    margin-right: 20px;
  }

  .products-shop-wrapper {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
  }

  /* футер десктоп */

  .footer {
    margin-top: 60px;
  }

  .footer-wrapper {
    width: 1200px;
    padding: 0 15px;
    margin: auto;
  }
}

/* планшет версия */

@media (min-width: 641px) and (max-width: 1199px) {
  header {
    background-image: url("../images/banner-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #666666; 
    position: relative;
    height: 390px;
    margin-bottom: 50px;
  }

  header::before {
    content: "";
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }

  .header-wrap {
    position: relative;
    z-index: 1;
  }

  .header-top {
    justify-content: space-between;
    margin-left: 4.5%;
    margin-right: 4.5%;
  }

  .header-logo {
    display: block;
    width: 157px;
    padding-top: 37px;
  }

  .content {
    width: 100%;
  }

  h1 {
    font-size: 40px;
    line-height: 55px;
    width: 620px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
  }

  .menu {
    display: none;
  }

  /* тренды планшет */

  .main-trends-content {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .main-trends {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 0;
    justify-content: center;
  }

  .trend {
    width: 49.75%;
    position: relative;
    margin-bottom: 0.5%;
    position: relative;
  }

  .trend:nth-child(even) {
    margin-left: 0.5%;
  }

  .trend_box {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    max-height: 200px;
  }

  .trend-title-link {
    font-size: 1.0625rem;
    line-height: 1.375rem;
  }

  .content-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
  }

  .article {
    width: 55%;
  }

  .article-content {
    width: 100%;
    min-width: 390px;
  }

  .article-media {
    margin-bottom: 15px;
  }

  .latest-posts-title {
    margin-top: 0;
  }

  .submit-bar {
    margin-bottom: 60px;
  }

  /* шоп наши изделия планшет */
  
  .products-shop {
    margin-top: 45px;
  }

  .products-shop-wrapper {
    width: 90%;
    margin: auto;
  }
 
  .products-shop-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .products-shop-card {
    width: 47%;
  }

  .products-shop-card:nth-child(odd) {
    margin-right: 20px;
  }

  .footer {
    width: 91%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-top: 50px;
  }
}

/* мобильная версия */

@media (max-width: 640px) {
  /* попап мобильная версия */

  .popup {
    width: 330px;
    height: 560px;
    margin-top: 56px;
  }

  .popup-x {
    padding-left: 310px;
    position: absolute;
  }

  .popup-form {
    width: 280px;
    padding-left: 25px;
  }

  .select-field {
    width: 280px;
  }

  header {
    background-image: url("../images/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #666666;
    margin-bottom: 64px;
    position: relative;
  }

  header::before {
    content: "";
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }

  .header-wrap {
    position: relative;
    z-index: 1;
    height: 640px;
    padding-top: 60%;
  }

  h1 {
    width: 81.8%;
    font-size: 26px;
    line-height: 36px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-logo {
    display: block;
    width: 270px;
  }

  .menu-bar {
    position: absolute;
    right: 4.2%;
    top: 0;
  }

  .menu {
    display: none;
  }

  /* тренды мобил */
  .main-trends {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  
  .main-trends-content {
    flex-wrap: wrap;
  }

  .trend_box {
    width: 92%;
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 15px;
  }

  .trend-title-link {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .main-side-bar {
    display: flex;
    flex-wrap: wrap;
  }

  .main {
    width: 91.6%;
    margin-left: auto;
    margin-right: auto;
  }

  .article {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }

  .article-content {
    margin-top: 15px;
  }

  .article-media {
    width: 100%;
  }

  .article-picture {
    display: block;
    width: 100%;
  }

  .footer {
    width: 91.6%;
    margin-left: auto;
    margin-right: auto;
  }

  .side-bar {
    width: 91.6%;
    margin-left: auto;
    margin-right: auto;
  }

  /* формы мобил версия */

  .search-group {
    width: 91.6%;
  }

  .submit-bar {
    margin-bottom: 40px;
  }

  /* _____________________ */

  .tags-bar {
    margin-bottom: 44px;
  }

  /* шоп мобильная версия */

  .products-shop-content {
    flex-wrap: wrap;
  }

  .products-shop-card {
    margin-left: 4.2%;
    margin-right: 4.2%;
  }

  .products-shop-card:last-child {
    margin-bottom: 45px;
  }
}

@media (max-width: 640px) and (orientation: portrait) { 
  .trend {
    width: 100%;
    min-width: 320px;
    position: relative;
    margin-bottom: 4px;
  }

  .trend:last-child {
    margin-bottom: 45px;
  }

  .trend_preview {
    width: 100%;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .main-trends {
    margin-bottom: 45px;
  }

  .trend {
    width: 49.75%;
    position: relative;
    margin-bottom: 0.5%;
    position: relative;
  }

  .trend:nth-child(even) {
    margin-left: 0.5%;
  }

  .trend_box {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-height: 160px;
  }

  .trend-title-link {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}